input{
    color:black;
    background-color:pink;
    margin: 20px;
    border-radius: 20px;

}
div
{
    display: flex;
    justify-content: center;
} 
button{
    margin: 50px;
 
}

h2
{
    justify-content: center;
    color: black;
    background-color:rgb(144, 187, 215) ;
}

